@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #D9C8BF;
}
::-webkit-scrollbar {
    display: none;
}
a{
    font-family: inherit;
    text-decoration: none;
}

nav {
    width: 100%; 
    background-color: #0D0D0D;
    box-shadow: 0px 0px 5px black; 
    position: fixed; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    top: 0; 
    z-index: 1000; 
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}
.logo-main{
    background-image: url(img/geral/logo/logoBranca-cafelino.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    width: 110px;
    height: 70px;
    position: relative;
    top: -10px;
}
nav li { 
    height: 50px;
} 
nav a { 
    height: 100%; 
    padding: 0 30px; 
    text-decoration: none;
    display: flex; 
    align-items: center; 
    color: black;
} 
nav li:first-child { 
    margin-right: auto; 
} 
.nav_menu-button-icon { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.nav_menu-button-icon svg {
    fill: white;
}

.sidebar { 
    position: fixed; 
    top: 0; 
    right: 0; 
    height: 100vh; 
    width: 250px; 
    z-index: 999; 
    background-color: #26262659; 
    backdrop-filter: blur(15px); 
    box-shadow: -10px 0 10px rgba(0,0,0,0.1); 
    display: none; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    list-style: none;
} 
.sidebar li { 
    width: 100%;
} 
.sidebar a { 
    width: 100%;
    color: #D9C8BF;
    font-size: 18px;
    padding: 40px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.sidebar a:not(.nav_closed-button-icon a)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
}
.sidebar a:hover {
    transform: left(0.9);
    font-size: 19.5px;
    color: white;
}
.sidebar a:not(.nav_closed-button-icon a):hover::before{
    left: 0;
}
.nav_closed-button-icon { 
    display: flex; 
    align-items: center; 
    justify-content: center;  
} 
.nav_closed-button-icon svg{
    fill: white;
}
.img-nav{
    background-image: url(img/geral/gatinho-nav.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: -150px;
    left: 20px;
    width: 184px;
    height: 170px;
}
.banner{
    background-image: url(img/geral/banner/Todo\ animal\ merece\ amor\ e\ um\ lar.\ Adote\ e\ ganhe\ um\ amigo\ para\ sempre!.png);
    width: 100vw;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 50px;
}
.information{
    max-width: 800px;
    margin: 75px auto;
}
.content-information-adctional{
    flex-direction: column;
    background-color: #8C695D;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    margin-top: 55px;
    margin-bottom: 55px;
}
.box-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons-information {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.icon-adoption-information {
    background-image: url(img/geral/caixa-de-gato.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
    position: relative;
    top: 10px;
}
.icon-foof-information{
    background-image: url(img/geral/racao-para-animais-de-estimacao\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
    position: relative;
    top: 10px;
}
.icon-veterinarian-information{
    background-image: url(img/geral/veterinario.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
    position: relative;
    top: 10px;
}
.text-information {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #8C695D;
    user-select: none;
    text-align: center;
    background-color: white;
    height: 200px;
    border-radius: 0px 0px 20px 20px;
}
#contador {
    font-size: 2.1rem;
    font-weight: 700;
    color: #8C695D;
    user-select: none;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}
.text-box-information{
    font-size: 1.2rem;
    padding: 20px;
    font-weight: 400;
    color: #8C695D;
    user-select: none;
    text-align: center;
}
.text-decoy-information{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 30px;
    color: #8C695D;
}
.text-about{
    max-width: 850px;
    margin: auto;
    padding: 30px;
}
.title-text-cattery{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    color: #8C695D;
}
.content-cattery{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    padding-bottom: 55px;
}
.list-cattery{
    list-style-type: circle;
    padding: 5px 45px;
}
.content-list-cattery{
     padding: 10px;
}
.title-text-adoption{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    color: #8C695D;
}
.content-adoption{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    padding-bottom: 55px;
}
.title-text-works{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 55px;
    color: #8C695D;
}
.content-works{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin-bottom: 35px;
}
.list-works{
    list-style-type: circle;
    padding: 5px 45px;
}
.content-list-works{
    padding: 10px;
}
.text-chance{
    max-width: 850px;
    margin: auto;
    padding: 30px;
}
.title-text-chance{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 35px;
    color: #8C695D;
}
.content-chance{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.content-galery{
    max-width: 800px;
    margin: 55px auto;
}
.title-galery-cats{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 35px;
    color: #8C695D;
}
.galery-picture1 { background-image: url('img/gatos/gato_brincando.jpg'); }
.galery-picture2 { background-image: url('img/gatos/gato_deitado.jpg'); }
.galery-picture3 { background-image: url('img/gatos/Emma-Stone.jpg'); }
.galery-picture4 { background-image: url('img/gatos/tutu.jpg'); }
.galery-picture5 { background-image: url('img/gatos/Sr.Aroldo.jpg'); }
.galery-picture6 { background-image: url('img/gatos/tofu.jpg'); }
.galery-picture7 { background-image: url('img/gatos/gatos_abraçados.jpg'); }
.galery-picture8 { background-image: url('img/gatos/gatos_brincando\ \(2\).jpg'); }

.galery-photos {
    width: 150px; /* Define um tamanho fixo */
    height: 150px;
    margin: auto;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.galery-photos:hover {
    transform: scale(1.1);
}
.content-photos-cats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; 
    padding: 30px;
}

.container-testimonials{
    margin-top: 55px;
}
.testimonials{
    max-width: 800px;
    margin: auto;
    padding: 0 25px;
}
.testimonials-content{
    width: 100%;
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 45px;
}
.content-text-testimonials{
    font-size: 22px;
    color: #8C695D;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    font-family: inherit;
}
.testimonials-item{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 30px;
}
.mais{
    display: none;
}
.btnVerMais{
    font-weight: 500;
    cursor: pointer;
}
.testimonials-item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
    object-fit: cover;
}
.info-testimonials{
    display: flex;
    align-items: center;
}
.name-testimonials{
    font-size: 24px;
    font-weight: 500;
    color: #0D0D0D;
    line-height: 1.2;
}
.testimonials-item p{
    margin-top: 20px;
    color: #333;
}
.testimonials-item .rating{
    margin-top: 5px;
    color: gold; 
    font-size: 15px
}
.testimonials .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}
.testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    background-color: #8C695D;
}
.photos-cat{
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: 15px auto;
    border-radius: 20px;
}
.photo1cat{
    background-image: url(img/pessoas/photo1cat.jpg);
}
.photo2cat{
    background-image: url(img/pessoas/photo2cat.jpg);
}
.photo3cat{
    background-image: url(img/pessoas/photo3cat.jpg);
}
.photo4cat{
    background-image: url(img/pessoas/photo4cat.jpg);
}
.photo5cat{
    background-image: url(img/pessoas/photo5cat.jpg);
}
.title-FAQ-box{
    font-size: 2.5rem;
    padding: 20px;
    white-space: normal;
    margin: auto;
    text-align: center;
    color: #8C695D;
}
.questions-container{
    max-width: 600px;
    margin: 10px auto;
    padding: 15px;
}
.question button{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: #8C695D;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.question button span{
    font-weight: normal;
}
.question p{
    font-size: 16px;
    color: #333;
    max-height: 0;
    font-weight: normal;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    margin: 10px;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}
.content-footer{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0D0D0D;
    border-radius: 30px 30px 0px 0px;
}
.content-information_footer{
    text-align: center;
    padding: 25px;
    width: 550px;
}
.content-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-footer{
    background-image: url(img/geral/logo/logoBranca-cafelino.png);
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: -55px;
}
.img-cat{
    background-image: url(img/geral/gatinho_xicara-removebg-preview.png);
    width: 130px;
    height: 130px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: -75px;
}
.information-schedules-location_footer{
    text-align: center;
    color: white;
    font-size: 16px;
    position: relative;
    top: -65px;
}
.text-social-media_footer{
    text-align: center;
    color: white;
    font-size: 15.5px;
    line-height: 1.5px;
    margin-bottom: 15px;
}
.content-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.content-social-media{
    fill: white;
}
.programmer{
    width: 100%;
}
.programmer h2{
    font-size: 13px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    color: white;
    line-height: 1.5px;
    
}
@media (max-width: 610px) {
    .sidebar { 
        width: 100%; 
    }
    .banner{
        background-image: url(img/geral/banner/banner600px.png);
        width: 100vw;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 60px;
    }
    .box-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .photos-cat{
        width: 230px;
        height: 170px;
    }
    .testimonials-content{
        width: 100%;
        padding-right: 35px;
        padding-left: 35px;
        margin-top: 45px;
    }
    .content-text-testimonials{
        font-size: 22px;
    }
    .testimonials-item img{
        width: 60px;
        height: 60px;
    }
    .testimonials-item p{
        font-size: 15.5px;
    }
    .name-testimonials{
        font-size: 20px;
    }
    .testimonials-item .rating{ 
        font-size: 12px
    }
    .testimonials .swiper-pagination-bullet{
        height: 12px;
        width: 12px;
        background-color: #8C695D;
    }
    
    .galery-picture2 { 
        display: none; 
    }
    .galery-picture3 { 
        display: none; 
    }
    .galery-photos {
        width: 120px; 
        height: 120px;
    }
    .content-photos-cats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px; 
        padding: 30px;
    }

}