@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #D9C8BF;
}
a{
    font-family: inherit;
    text-decoration: none;
}

nav {
    width: 100%; 
    background-color: #0D0D0D;
    box-shadow: 0px 0px 5px black; 
    position: fixed; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    top: 0; 
    z-index: 1000; 
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}
.logo-main{
    background-image: url(img/geral/logo/logoBranca-cafelino.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    width: 110px;
    height: 70px;
    position: relative;
    top: -10px;
}
nav li { 
    height: 50px;
} 
nav a { 
    height: 100%; 
    padding: 0 30px; 
    text-decoration: none;
    display: flex; 
    align-items: center; 
    color: black;
} 
nav li:first-child { 
    margin-right: auto; 
} 
.nav_menu-button-icon { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.nav_menu-button-icon svg {
    fill: white;
}

.sidebar { 
    position: fixed; 
    top: 0; 
    right: 0; 
    height: 100vh; 
    width: 250px; 
    z-index: 999; 
    background-color: #26262659; 
    backdrop-filter: blur(15px); 
    box-shadow: -10px 0 10px rgba(0,0,0,0.1); 
    display: none; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    list-style: none;
} 
.sidebar li { 
    width: 100%;
} 
.sidebar a { 
    width: 100%;
    color: #D9C8BF;
    font-size: 18px;
    padding: 40px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.sidebar a:not(.nav_closed-button-icon a)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
}
.sidebar a:hover {
    transform: left(0.9);
    font-size: 19.5px;
    color: white;
}
.sidebar a:not(.nav_closed-button-icon a):hover::before{
    left: 0;
}
.nav_closed-button-icon { 
    display: flex; 
    align-items: center; 
    justify-content: center;  
} 
.nav_closed-button-icon svg{
    fill: white;
}
.img-nav{
    background-image: url(img/geral/gatinho-nav.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: -150px;
    left: 20px;
    width: 184px;
    height: 170px;
}
.banner{
    background-image: url(geral/banner/banner2.jpeg);
    width: 100vw;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 610px) {
    .sidebar { 
        width: 100%; 
    }
}